@use "ngx-toastr/toastr";

.toast-container .ngx-toastr {
  padding: 20px 6px 15px 50px !important;
}

.toast-message {
  color: #3a3a3a !important;
}

.toast-close-button {
  color: #b3b3b3 !important;
  font-size: 1.5rem !important;
}

.toast-success {
  border-radius: 6px;
  background: url(/public/assets/imgs/check-circle.png) no-repeat 1rem 1rem #fff !important;
  margin-top: 1rem !important;
  margin-left: 3rem !important;
  width: 19.5625rem !important;

  .toast-progress {
    background: #34aa44 !important;
  }
}

.toast-error {
  border-radius: 6px;
  background: url(/public/assets/imgs/alert-triangle.png) no-repeat 1rem 1rem #fff !important;
  margin-top: 1rem !important;
  margin-left: 3rem !important;
  width: 21rem !important;

  .toast-title {
    color: var(--bs-dark) !important;
  }

  .toast-progress {
    background: var(--bs-pink) !important;
  }
}

.toast-progress {
  opacity: 1;
  height: 0.375rem;
  border-radius: 0 0 0.25rem 0 !important;
}

.toast-error-md {
  height: 5rem !important;
  background: url(/public/assets/imgs/alert-triangle.png) no-repeat 1rem 1.875rem #fff !important;

  .toast-close-button {
    top: 50% !important;
    transform: translateY(-50%) !important;
  }
}

.toast-info {
  background-color: var(--bs-info);
}

.toast-warning {
  background-color: var(--bs-warning);
  .toast-progress {
    background: white !important;
  }
}
